/*phone styles*/
.mobileNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    picture {
      .logo {
        height: 1.5rem;
      }
    }
    .hamburger {
      width: 1.5rem;
      height: 1.5rem;
      background: blue;
    }
  }
}

.pcNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    picture {
      .logo {
        height: 2rem;
      }
    }
    nav {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      a {
        font-weight: 600;
        font-size: 15px;
        color: var(--main-color);
      }

      .active {
        color: var(--secondary-color);
        font-size: 17px;
      }

      button {
        background: var(--main-color);
        color: var(--primary-color);
        font-size: 15px;
      }
    }
  }
  display: none;
}

.homeSection {
  background: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/banner.png");
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;

  .homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: var(--primary-color);
      padding-bottom: 1rem;
    }

    .buttons {
      display: flex;
      gap: 5%;

      button {
        background: var(--primary-color);
        color: var(--main-color);
        font-size: 15px;
      }

      .transp{
        background: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
}

.active {
  color: var(--secondary-color);
  font-size: 18px;
}

.aboutSection {
  padding: 3rem 0;

  .container {
    .aboutRow {
      padding-top: 2rem;

      .aboutLeft {
        .aboutImage {
          width: 100%;
        }
      }
      .aboutRight {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6%;

        .aboutSubHeading {
          width: 100%;

          h3 {
            font-weight: 700;
          }
        }
        .aboutParagraph {
          width: 100%;
        }
        button {
          background: var(--main-color);
          color: var(--primary-color);
        }
      }
    }
  }
}

.volunteerSection {
  background: var(--main-color);
  color: var(--primary-color);
  padding: 3rem 0;

  .container {
    .volunteerHeading {
      padding-bottom: 2rem;
    }
    .row {
      padding-top: 1rem;
      .volunteerSides {
        .volunteerImages {
          width: 100%;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
      }
      .volunteerCenter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;

        img {
          width: 5rem;
        }
      }
    }
  }
}

.servicesSection {
  padding: 3rem 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .row {
      .servicesLeft {
        h3 {
          font-weight: 700;
          font-size: 21px;
          padding-bottom: 0.3rem;
        }
        p {
          line-height: 25px;
        }
      }

      .servicesRight {
        display: flex;
        justify-content: center;
        align-items: center;

        .servicesImage {
          width: 100%;
        }
      }
    }
  }
}

.warmLine {
  padding: 3rem 0;
  background: #d9d9d985;

  p {
    color: var(--paragraph-color);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .lineHeading {
      padding-bottom: 2rem;
    }
    .lineParagraph {
      width: 100%;
      padding-bottom: 1rem;
    }
    .row {
      .lineLeft {
        display: flex;
        align-items: center;
        .lineImage {
          width: 100%;
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
          margin-bottom: 2rem;
        }
      }
      .lineRight {
        padding: 0;
        .lineRightHeading {
          padding-bottom: 1.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: -moz-fit-content;
          width: fit-content;
          .black {
            color: var(--secondary-color);
            margin-bottom: 5px;
            text-decoration: underline;
          }
          .underline {
            display: none;
            width: 28rem;
            height: 3px;
            background: var(--main-color);
          }
        }
      }
    }
  }
}

.supportSection {
  padding: 3rem 0;
  background: var(--main-color);
}

.footer {
  padding: 2rem 0 0 0;
  background: var(--primary-color);

  .container {
    .row {
      .footerLeft {
        padding-left: 2rem;
        text-align: start;
        ul {
          padding: 0;
          li {
            padding-top: 1rem;
            list-style: none;
          }
        }
      }
      .footerCenter {
        text-align: center;
        padding: 1rem 0;

        .footerImage{
          width: 70%;
        }
      }
      .footerRight {
        padding-right: 2rem;
        text-align: end;
        ul {
          padding: 0;
          li {
            padding-top: 1rem;
            list-style: none;
          }
        }
      }
    }
  }
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .aboutSection {
    .container {
      .aboutRow {
        .aboutRight {
          padding: 0 0 0 2rem;
          .aboutSubHeading {
            width: 40%;
          }
        }
      }
    }
  }
  .warmLine {
    .container {
      .lineParagraph {
        width: 90%;
      }
      .row {
        .lineLeft {
          .lineImage {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobileNav {
    display: none;
  }
  .pcNav {
    display: block;
  }

  .homeSection {
    .homeContent {
      width: 60%;
    }
  }

  .aboutSection {
    .container {
      .aboutRow {
        .aboutRight {
          .aboutParagraph {
            width: 95%;
          }
        }
      }
    }
  }
  .warmLine {
    .container {
      .row {
        .lineLeft {
          .lineImage {
            width: 75%;
          }
        }
        .lineRight {
          .lineRightHeading {
            .black {
              text-decoration: none;
            }
            .underline {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
