/*phone styles*/
button {
  border: none;
  width: 9rem;
  height: 2.3rem;
  border-radius: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}

span {
  color: var(--main-color);
}

.mobileNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    picture {
      .logo {
        height: 1.5rem;
      }
    }
    .hamburger {
      width: 1.5rem;
      height: 1.5rem;
      background: blue;
    }
  }
}

.pcNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    picture {
      .logo {
        height: 2rem;
      }
    }
    nav {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      a {
        font-weight: 600;
        font-size: 15px;
        color: var(--main-color);
      }

      .active {
        color: var(--secondary-color);
        font-size: 17px;
      }

      button {
        background: var(--main-color);
        color: var(--primary-color);
      }
    }
  }
  display: none;
}

.homeSection {
  background: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/banner.jpg");
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;

  .homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      color: var(--primary-color);
      padding-bottom: 1rem;
    }

    .buttons {
      display: flex;
      gap: 5%;

      button {
        background: var(--primary-color);
        color: var(--main-color);
      }
    }
  }
}

.active {
  color: var(--secondary-color);
  font-size: 18px;
}

.aboutSection {
  padding: 3rem 0;

  .container {
    .aboutHeading {
      width: 100%;
      display: flex;
      justify-content: center;

      h2 {
        font-weight: 700;
      }
    }

    .aboutRow {
      padding: 2rem 0;

      .aboutLeft {
        .aboutImage {
          width: 100%;
        }
      }
      .aboutRight {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6%;

        .aboutSubHeading {
          width: 100%;

          h3 {
            font-weight: 700;
          }
        }
        .aboutParagraph {
          width: 100%;
        }
        button {
          background: var(--main-color);
          color: var(--primary-color);
        }
      }
    }
  }
}

.volunteerSection {
  background: var(--main-color);
  color: var(--primary-color);
  padding: 3rem 0;

  .container{
    .volunteerText{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h2{
        font-weight: 700;
      }
    }
    .row{
      padding-top: 1rem;
      .col-md-5{
        .volunteerImages{
          width: 100%;
          box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        }
      }
      .col-md-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;

        img{
          width: 5rem;
        }
      }
    }
  }
}

.servicesSection{
  padding: 3rem 0;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .aboutSection {
    .container {
      .aboutRow {
        .aboutRight {
          padding: 0 0 0 2rem;
          .aboutSubHeading {
            width: 40%;
          }
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobileNav {
    display: none;
  }
  .pcNav {
    display: block;
  }

  .homeSection {
    .homeContent {
      width: 60%;
    }
  }

  .aboutSection {
    .container {
      .aboutRow {
        .aboutRight {
          .aboutParagraph {
            width: 95%;
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
