@font-face {
  font-family: Poppins;
  src: url('./assets/Poppins-Regular.ttf');
}

:root{
  --primary-color: #fff;
  --secondary-color: #1a1919;
  --main-color: #3453A0;
  --background-color: #D9D9D9;
  --paragraph-color: #3C3838;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--primary-color);
  color: #1a1919;
}

button {
  border: none;
  width: 9rem;
  height: 2.3rem;
  border-radius: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
}

span {
  color: var(--main-color);
}

.headings {
  width: 100%;
  display: flex;
  justify-content: center;

  h2 {
    font-weight: 700;
  }
}