@font-face {
  font-family: Poppins;
  src: url('./assets/Poppins-Regular.ttf');
}

:root{
  --primary-color: #fff;
  --secondary-color: #1a1919;
  --main-color: #3453A0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--primary-color);
  color: #1a1919;
}